
@{
    ViewData["Title"] = "Index";
}

<h1>Oparations</h1>
<div id="button" class="btn btn-primary text-black" style="background-color:#8f8f8f">
    <button><a asp-action="CalculateRemainingHours">Calculate Remaining Self Study</a></button>
    <button><a asp-action="CalculateSelfStudy">Calculate Self Study Hours</a></button>
</div>

