html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height:100vh;
  display:flex;
  flex-direction:column;

}
.display-4 {
    font-family:Algerian;
}
.navbar-brand{
    font-family: Algerian;
    color:black;
}
#button{
    color: black;
}
a:link #button {
    text-decoration-line:none;

}
.btn btn-primary text-black {
    font-family:'Brush Script MT';
}
#footer{

    margin-top:auto;
}
